{{template "base" .}}

{{define "content"}}
    <div class="box-content">
        <div class="quickgo-dir-link-container">
            <a class="quickgo-dir-link quickgo-dir" href="../{{if .ShowPreview}}?preview=true{{end}}">{{if .IsFile}}./{{else}}../{{end}}</a>
            {{if .Datasize}}<span class="quickgo-datasize">Total size: {{.Datasize}}</span>{{end}}
        </div>
        <div class="quickgo-file-content">{{.FileContent}}</div>
    </div>
{{end}}

