{{template "base" .}}

{{define "content"}}
    <div class="box-content">
        {{ template "parent_url" . }}
        <div class="quickgo-content-container pre">{{.Content}}</div>
    </div>
{{end}}
