{{template "base" .}}

{{define "content"}}
    <div class="box-content">
        <h2>View all projects:</h2>
        <ul>
            {{ range $project := .ObjectList }}
                <li><a href="{{ ProjectURL $project }}">{{$project.Name}}</a></li>
            {{ end }}
        </ul>
    </div>
{{end}}
