{{template "base" .}}

{{define "content"}}
    <div class="box-content">
        <h2>Index: {{.Dir.GetName}}</h2>
        <pre class="quickgo-content-container">{{.Content}}</pre>
    </div>
{{end}}
