{{template "base" .}}

{{define "content"}}
    <div class="box-content">
        <h2>View all projects:</h2>
        <ul class="quickgo-project-wrapper">
            {{ range $project := .ObjectList }}
                <li class="quickgo-project">
                    <div class="quickgo-project-info">
                        <a href="{{ ProjectURL $project }}">{{$project.Name}}</a>
                    </div>
                    <div class="quickgo-project-buttons">
                        <a href="{{ ProjectURL $project }}?download=1" class="button">Export</a>
                        <a href="{{ ConfigURL $project }}" class="button">Configuration</a>
                    </div>
                </li>
            {{ end }}
        </ul>
    </div>
{{end}}
