{{define "base"}}
<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <title></title>
        <link rel="stylesheet" href="/static/template.css" type="text/css">
        {{block "extra_css" .}}

        {{end}}
    </head>
    <body>
        <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
            <a class="navbar-brand" href="/">
                <div class="stack noselect" style="--stacks: 3;">
                    <span class="stackspan" style="--index: 0;">
                        <span class="quickgo-quick">Quick</span>
                        <span class="quickgo-go">
                            <span class="quickgo-span quickgo-span-1"></span>
                            <span class="quickgo-span quickgo-span-2"></span>
                            <span class="quickgo-span quickgo-span-3"></span>
                            go
                        </span>

                    </span>
                    <span class="stackspan" style="--index: 1;">
                        <span class="quickgo-quick">Quick</span>
                        <span class="quickgo-go">
                            <span class="quickgo-span quickgo-span-1"></span>
                            <span class="quickgo-span quickgo-span-2"></span>
                            <span class="quickgo-span quickgo-span-3"></span>
                            go
                        </span>

                    </span>
                    <span class="stackspan" style="--index: 2;">
                        <span class="quickgo-quick">Quick</span>
                        <span class="quickgo-go">
                            <span class="quickgo-span quickgo-span-1"></span>
                            <span class="quickgo-span quickgo-span-2"></span>
                            <span class="quickgo-span quickgo-span-3"></span>
                            go
                        </span>
                    </span>
                </div>
            </a>
            <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
                <div class="navbar-nav">
                    <a class="nav-item nav-link" href="/">Root</a>
                </div>
            </div>
            <div class="navbar-nav ml-auto" style="margin-right:25px;">
                <a class="nav-item nav-link" href="https://github.com/Nigel2392/">Github!</a>
            </div>

        </nav>

        <div class="row">
            <div class="col-2">
            </div>
            <div class="col-8">
                {{block "content" .}}
                {{end}}
            </div>
            <div class="col-2">
            </div>
        </div>

        {{block "extra_js" .}}
        
        {{end}}
    </body>
</html>
{{end}}
