{{define "dir_display"}}
    <div class="quickgo-dir-link-container">
        <a class="quickgo-dir-link quickgo-dir" style="float:left;" href="{{.Name}}/">{{.Name}}</a>
        <span style="float:right">{{.SizeStr}}</span>
    </div>
{{end}}
