{{define "dir_display"}}
    <div class="quickgo-dir-link-container">
        <a class="quickgo-dir-link quickgo-dir" href="{{.Name}}/">{{.Name}}</a>
        <span class="quickgo-datasize">{{.SizeStr}}</span>
    </div>
{{end}}
