{{define "go_back"}}
    <div class="quickgo-dir-link-container">
        <a class="quickgo-dir-link quickgo-dir" href="../">{{if .IsFile}}./{{else}}../{{end}}</a>
        {{if .Datasize}}<span class="quickgo-datasize">Total size: {{.Datasize}}</span>{{end}}
    </div>
{{end}}
