{{template "base" .}}

{{define "content"}}
    <div class="box-content">
        {{if .DirEmpty}}
            {{template "go_back" .}}
            <div style="display: flex;align-items: center;justify-content: center;height:50%;">
                <h1 style="color:#ff5555;">Directory is empty</h1>
            </div>
        {{else}}
            {{if .IsRoot}}
                {{range .Dirs}}
                    {{template "dir_display" .}}
                {{end}}
            {{else if .IsFile}}
                {{template "go_back" .}}
                <pre class="quickgo-file-content">{{.FileContent}}</pre>
            {{else}}
                {{template "go_back" .}}
                {{range .Dir.Children}}
                    {{template "dir_display" .}}
                {{end}}
                {{range .Dir.Files}}
                    <div class="quickgo-dir-link-container">
                        <a class="quickgo-dir-link quickgo-file" style="float:left;" href="{{.Name}}/">{{.Name}}</a>
                        <span style="float:right">{{.SizeStr}}</span>
                    </div>
                {{end}}
            {{end}}
        {{end}}
    </div>
{{end}}
